h3{
    font-family: arial,sans-serif;
    text-align: center;
    color: rgb(30, 225, 98);
    font-size:35px;
    padding: 13% 0 0 15%;
}
.container{
    font-family: tahoma,sans-serif;
    font-size: 19px;
}
ul{
    list-style-type: circle;
} 
 ul li {
    margin-bottom: 8px; 
    align-items: center;
}
  