body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: powderblue;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
  }
  